@model PaginatedList<Sleek.Models.User>

<div class="row my-5">
    <div class="col-12">

        <div class="card">
            <div class="card-body p-0">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th><a asp-action="Profile" asp-route-sortOrder="@ViewData["First"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">First</a></th>
                            <th><a asp-action="Profile" asp-route-sortOrder="@ViewData["ILastD"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Last</a></th>
                            <th><a asp-action="Profile" asp-route-sortOrder="@ViewData["Email"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">E-Mail</a></th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model) {
                            <tr>
                                <td><a asp-action="Edit" asp-route-id="@item.UsrId">@Html.DisplayFor(modelItem => item.UsrFirst)</a></td>
                                <td>@Html.DisplayFor(modelItem => item.UsrLast)</td>
                                <td>@Html.DisplayFor(modelItem => item.UsrEmail)</td>
                            </tr>
                        }
                    </tbody>
                </table>
                @{
                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                }

                <a asp-action="Profile" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @prevDisabled">Previous</a>
                <a asp-action="Profile" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @nextDisabled">Next</a>
            </div>
        </div>
    </div>
</div>

