@model PaginatedList<Sleek.Models.Order>

@{
    ViewBag.Title = "Project Detail";
    ViewData["Controller"] = "Projects";
    ViewData["Action"] = "Detail";
    var project = (Project)ViewData["Project"];
}

@section CSS {

}

@section Scripts {

}

<div class="row justify-content-center">
    <div class="col-12 col-lg-5 mx-auto" id="form-container">
        <div class="card card-default">
            <article class="card-body pb-2">
                <h4 class="card-title text-center">Project Detail</h4>
                <div class="row text-center mb-2">
                    <div class="col-12">
                        <p class="text-dark">@(String.Format("{0} {1}", project.User.UsrFirst, project.User.UsrLast))</p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-8 col-8">
                        <p class="text-dark"><span class="font-size-10">Description<br /></span>@project.ProDescription</p>
                    </div>
                    <div class="col-lg-4 col-4">
                        <p class="text-dark"><span class="font-size-10">Status<br /></span>@project.Status.StaDescription</p>
                    </div>
                </div>
                <div class="row mt-3">
                    <div class="col-12">

                        <div class="card mb-3">

                            <div class="card-body p-0">

                                <table class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th><a asp-action="Detail" asp-route-sortOrder="@ViewData["ID"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID</a></th>
                                            <th><a asp-action="Detail" asp-route-sortOrder="@ViewData["Date"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date</a></th>
                                            <th><a asp-action="Detail" asp-route-sortOrder="@ViewData["Subject"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Subject</a></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model) {
                                            <tr>
                                                <td><a asp-controller="Orders" asp-action="Edit" asp-route-id="@item.OrdId"> @Html.DisplayFor(modelItem => item.OrdId)</a></td>
                                                <td>@Html.DisplayFor(modelItem => item.OrdDate)</td>
                                                <td>@Html.DisplayFor(modelItem => item.OrdSubject)</td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                                @if (Model.Count() == 0) {
                                    <p class="text-size-14 my-3 ml-3">Click the New button to add your first Work Order</p>
                                }

                                @{
                                    var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                                    var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                                }

                                <a asp-action="Profile" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @prevDisabled">Previous</a>
                                <a asp-action="Profile" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @nextDisabled">Next</a>

                            </div>
                        </div>

                        <form class="form-inline float-right" asp-action="#" method="get">
                            <div class="form-group">
                                <div class="input-group">
                                    <button asp-controller="Projects" asp-action="Edit" asp-route-id="@project.ProId" class="btn btn-primary mr-2"><i class="mdi mdi-pencil"></i></button>
                                    <button asp-controller="Orders" asp-action="New" asp-route-id="@project.ProId" class="btn btn-success mr-2">New Work Order</button>

                                    @if (Site.Controller == null | Site.Action == null) {
                                        <a asp-controller="Projects" asp-action="Index" class="btn btn-secondary">Close</a>
                                    } else {
                                        <a asp-controller="@Site.Controller" asp-action="@Site.Action" class="btn btn-secondary">Close</a>
                                    }

                                </div>
                            </div>
                        </form>

                    </div>
                </div>

            </article>
        </div> <!-- card -->
    </div>
</div>
