@model PaginatedList<Sleek.Models.Activity>

@{
    ViewBag.Title = "Activity";
    ViewData["Controller"] = "Home";
    ViewData["Action"] = "Activity";

}

@section CSS {

}

@section Scripts {

}

<div class="content">
    <div class="row">
        <div class="col-12">

            <div class="card card-default">

                <div class="card-body">

                    <div class="d-flex float-left">
                        <h3 class="mb-3">Activity History</h3>
                    </div>

                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th><a asp-action="Activity" asp-route-sortOrder="@ViewData["ID"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">ID</a></th>
                                <th><a asp-action="Activity" asp-route-sortOrder="@ViewData["Date"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Date</a></th>
                                <th><a asp-action="Activity" asp-route-sortOrder="@ViewData["Description"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Description</a></th>
                                <th><a asp-action="Activity" asp-route-sortOrder="@ViewData["Type"]" asp-route-currentFilter="@ViewData["CurrentFilter"]">Type</a></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model) {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.ActId)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ActDate)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ActDescription)</td>
                                    <td>@Html.DisplayFor(modelItem => item.ActType)</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <a asp-action="Activity" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex - 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @prevDisabled">Previous</a>
                    <a asp-action="Activity" asp-route-sortOrder="@ViewData["CurrentSort"]" asp-route-pageNumber="@(Model.PageIndex + 1)" asp-route-currentFilter="@ViewData["CurrentFilter"]" class="btn btn-default @nextDisabled">Next</a>
                </div>
            </div>
        </div>
    </div>
</div>
