@model Order

@{
    ViewBag.Title = "Work Order";
}

@section CSS {
    <link rel="stylesheet" href="~/assets/plugins/jquery-datetimepicker/jquery.datetimepicker.css" />
}

@section Scripts {
    <script src="~/assets/plugins/jquery-datetimepicker/jquery.datetimepicker.full.min.js"></script>
    <script src="~/assets/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/assets/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

<div class="row justify-content-center">
    <div class="col-12 col-lg-5 mx-auto" id="form-container">
        <div class="card card-default">
            <article class="card-body pb-2">
                <h4 class="card-title text-center">Work Order</h4>
                <div class="row">
                    <div class="col-12">
                        <form asp-action="#">
                            <div class="form-row">
                                <div class="col-lg-6 col-12">
                                    <label asp-for="OrdDate">@Html.DisplayNameFor(model => model.OrdDate)</label>
                                    <div class="input-group date" id="datetimepicker" data-target-input="nearest">
                                        <input asp-for="OrdDate" type="text" class="form-control datetimepicker-input" data-target="#datetimepicker" placeholder="@Html.DisplayNameFor(model => model.OrdDate)" />
                                        <span asp-validation-for="OrdDate" class="text-danger small"></span>
                                        <div class="input-group-append" data-target="#datetimepicker" data-toggle="datetimepicker">
                                            <div class="input-group-text"><i class="fa fa-calendar-alt"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6 col-12 mb-3">
                                    <label asp-for="OrdStaid">@Html.DisplayNameFor(model => model.OrdStaid)</label>
                                    <select asp-for="OrdStaid" class="form-control" asp-items="@(new SelectList(ViewBag.OrdStatus, "StaId", "StaDescription"))" placeholder="@Html.DisplayNameFor(model => model.OrdStaid)"></select>
                                    <span asp-validation-for="OrdStaid" class="text-danger small"></span>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12 mb-3">
                                    <label asp-for="OrdSubject">@Html.DisplayNameFor(model => model.OrdSubject)</label>
                                    <input asp-for="OrdSubject" class="form-control" placeholder="@Html.DisplayNameFor(model => model.OrdSubject)">
                                    <span asp-validation-for="OrdSubject" class="text-danger small"></span>
                                </div>
                                <div class="col-12 mb-3">
                                    <label asp-for="OrdDescription">@Html.DisplayNameFor(model => model.OrdDescription)</label>
                                    <textarea asp-for="OrdDescription" class="form-control" placeholder="@Html.DisplayNameFor(model => model.OrdDescription)" rows="3"></textarea>
                                    <span asp-validation-for="OrdDescription" class="text-danger small"></span>
                                </div>
                                <div class="col-12 mb-3">
                                    <label asp-for="OrdComments">@Html.DisplayNameFor(model => model.OrdComments)</label>
                                    <textarea asp-for="OrdComments" class="form-control" placeholder="@Html.DisplayNameFor(model => model.OrdComments)" rows="5"></textarea>
                                    <span asp-validation-for="OrdComments" class="text-danger small"></span>
                                </div>
                            </div>
                            <div class="form-group float-right">
                                <button asp-action="Save" asp-route-id="@Model.OrdId" class="btn btn-success mr-2">Save</button>
                                <button asp-action="Delete" asp-route-id="@Model.OrdId" class="btn btn-danger mr-2">Delete</button>

                                @if (Site.Controller == null | Site.Action == null) {
                                    <a asp-controller="Projects" asp-action="Detail" asp-route-id="@Model.OrdProid" class="btn btn-secondary">Close</a>
                                } else {
                                    <a asp-controller="@Site.Controller" asp-action="@Site.Action" class="btn btn-secondary">Close</a>
                                }

                            </div>

                            <input asp-for="OrdId" type="hidden" />
                            <input asp-for="OrdProid" type="hidden" />

                        </form>

                    </div>
                </div>
            </article>
        </div> <!-- Card -->
    </div>
</div>
